/*-- --*/
.header-section { display:block; height:80px;}
.header-inner-section { width:990px; height:80px; margin:0px auto; }
.logo { display:block; float:left; margin:10px 0px 0px 15px; }
.logo  img { width:140px;  }
.menu { display:block; float:right; height:80px; width:550px;}
.menu ul { display:block; list-style:none; float:right; margin:0px; padding:0px;}
.menu ul li { display:block; float:left; }
.menu ul li a { display:block; border-top:5px solid #fff; text-align:center; padding:0px 15px; text-transform:uppercase;  background:#fff; height:80px; line-height:75px; text-decoration:none; font-size:18px; color:#d0d0d0; }
.menu ul li a:hover { color:#AE4B84; }
.menu ul li .active, .menu ul li .active:hover { border-top:5px solid #AE4B84; background:#cccccc; color:#AE4B84; }
/*-- --*/

/*-- --*/
.home-banner-section { display:block; height:480px; position:relative; }
/* slideshow styles */
.slideShow ul, .slideShow li, .slideShow ol { list-style-type: none; margin: 0px; padding: 0px; }
.slideShow { position:absolute; width:100%; height:480px; background:#0099CC; top:0px; }
.slideShow .navigation { margin:0px 0px 0px 0px; height:50px; width:190px; position:absolute; bottom:30px; left:50%; margin-left:-95px; }
.slideShow .navigation li { display: inline; float:left; }
.slideShow .navigation a { margin:10px 0px 0px 0px; color: #ffffff; text-align:center; display: inline-block; 
background: url(../images/slide-navigation.png) no-repeat; background-position:-46px 0px; height:33px; width:33px; margin-right:5px; text-decoration: none; overflow:hidden; text-indent:-1000px; }
.slideShow .navigation a:hover, .slideShow .navigation a.selected { color: #000000; background-position:0px 0px; }
.slideShow ol.topNavigation { margin: 0px 0px 0px 0px; }
/** slides with more than an image in it **/
.slide { height:100%; background:#CCCCCC; width:100%; position:absolute; display:block; }
.slide img{ height:100%; display:block; width:100%; }
.slide h1 { position: absolute; background-color: #ffffff; left: 0px; top: 0px; }
.slide dl dt { width: 500px; }

/*-- --*/

/*-- --*/
.content-section { display:block; height:320px; }
.inner-content-section { background:#FFF; width:990px; height:320px; margin:0px auto; }
.inner-content-section h2 { display:block; text-align:center; margin:0px; color:#282828; font-size:34px; }
.content-title { display:block; text-align:center; margin:0px auto;}
.content-title p { display:inline-block; margin:0px; padding:0px;  }
.content-title p .lf-line { float:left; width:30px; border-top:1px solid #AE4B84; margin-right:5px; margin-top:23px; }
.content-title p .text { float:left; text-transform:uppercase; font-size:24px; padding:5px 0px; color:#AE4B84; }
.content-title p .rg-line { float:left; width:30px; border-top:1px solid #AE4B84; margin-left:5px; margin-top:23px; }
.color-text-1 { color:#999999; font-size:14px; line-height:20px; }
.more-links { display:block; text-align:center; }
.more-links .readmore { display:inline-block; height:29px; width:29px; background: url(../images/readmore.png) no-repeat; }
.more-links .readmore:hover { background-position:-61px 0px; }
/*-- --*/


/*-- --*/
.scroller-section { display:block; height:253px; background:#F96; }
div.scrollingHotSpotLeft{ min-width: 75px; width: 10%; height: 100%; background-image: url(../images/big_transparent.gif); background-repeat: repeat; background-position: center center; position: absolute; z-index: 200;  left: 0; }
div.scrollingHotSpotLeftVisible { background-image: url(../images/arrow_left.gif); background-color: #fff; background-repeat: no-repeat; opacity: 0.35; 	-moz-opacity: 0.35; filter: alpha(opacity = 35); zoom: 1; }
div.scrollingHotSpotRight { min-width: 75px; width: 10%; height: 100%; background-image: url(../images/big_transparent.gif); background-repeat: repeat; background-position: center center; position: absolute; z-index: 200; right: 0; }
div.scrollingHotSpotRightVisible { background-image: url(../images/arrow_right.gif); background-color: #fff; background-repeat: no-repeat; opacity: 0.35;
	filter: alpha(opacity = 35); -moz-opacity: 0.35; zoom: 1; }
div.scrollWrapper {	position: relative; overflow: hidden; width: 100%; height: 100%; }
div.scrollableArea { position: relative; width: auto; height: 100%; }
#makeMeScrollable { width:100%; height: 253px; position: relative; }
#makeMeScrollable div.scrollableArea img { position: relative; float: left; margin: 0; padding: 0;	-webkit-user-select: none; -khtml-user-select: none;
-moz-user-select: none; -o-user-select: none; user-select: none; }


.boxgrid{ width: 233px; float:left; background:#AE4B84; overflow: hidden; position: relative; }
.boxgrid img{ position: absolute; top: 0; left: 0; border: 0; z-index:2; }
.boxgrid p { display:block; position:absolute; z-index:1; padding: 0; color:#afafaf; font-weight:bold; font:10pt "Lucida Grande", Arial, sans-serif; text-align:center; width:233px; }
.boxcaption{ float: left; position: absolute; background: #000; height: 253px; width: 100%; opacity: .8; /* For IE 5-7 */filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);/* For IE 8 */-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 }
.boxgrid p .title { color:#FFFFFF; display:block; font-size:25px; margin-top:100px; }
.boxgrid p .sub-title {  color:#FFFFFF; display:block; font-size:19px; font-style:italic; }
.boxgrid p a { display:block; width:25px; height:25px; background:url(../images/readmore-2.png) no-repeat; margin:0px auto; }
.captionfull .boxcaption { top: 260; left: 0; }
.caption .boxcaption { top: 220; left: 0; }
/*-- --*/



/*-- --*/
.inner-banner-section { height:380px; overflow:hidden; text-align:center; }
/*-- --*/

/*-- --*/
.inner-pagecontent-section { min-height:150px; padding-bottom:80px; }
.fixed-scontent { width:990px; margin:0px auto; }
.fixed-scontent .page-title { display:block; margin:20px 0px 20px 0px; padding:0px; color:#AE4B84; border-bottom:1px solid #ccc; text-transform:uppercase; font-size:30px; }
.fixed-scontent .page-subtitle { margin:0px 0px 10px 0px; padding:0px; color:#AE4B84; font-size:24px; }
.fixed-scontent .text { font-size:15px; color:#666; line-height:19px; }
.fixed-scontent img { float:left; margin:0px 20px 0px 0px; }
#services-list { display:block !important; background:#f1f1f1; width:780px; height:120px; margin:0px auto; padding:0px 0px 0px 20px; }
#services-list li { float:left; display:inline-block; list-style:none; border-right:1px solid #d8d8d8; margin:10px 0px 0px 0px; padding:0px 35px; height:100px; line-height:100px; }
#services-list #last { border-right:0px;}
#services-list li img { float:none !important; margin:0px; border:0px; }
.list_down_view { display:block; width:650px; min-height:300px; margin-left:296px; position:relative;}
.flow-title { font-size:16px; color:#333333; }
.flow-sub-list { display:block; width:120px; list-style:square; margin:0px; padding:0px; font-size:17px; color:#666666; }

/*-- --*/
.secondary-content-section { display:block; height:412px; background:#171717; }
.inner-sec-content-section { width:990px; margin:0px auto; }
.form-section { width:495px; height:415px; float:left; position:relative;  }
.form-section .title { color:#AE4B84; font-size:27px; text-transform:uppercase; padding:15px 0px 15px 0px; }
.form-section .form-field { background:#525252; border:1px solid #222; color:#2d2d2d; display:block; width:400px; padding:15px 0px 15px 10px; margin-bottom:20px; }
.form-section .form-textarea { background:#525252; border:1px solid #222; color:#2d2d2d; display:block; width:400px; padding:15px 0px 0px 10px; height:120px; margin-bottom:20px; }
.form-section .form-field:focus, .form-section .form-textarea:focus { border:1px solid #999; }
.form-section .form-button { background:url(../images/sendbuttonnotselected.jpg) no-repeat; display:block; width:102px; height:42px; border:0px; cursor:pointer; }
.download-section {  width:495px; height:415px; float:right; position:relative;   }
.download-section .title { color:#AE4B84; font-size:27px; text-transform:uppercase; padding:15px 0px 15px 0px; }
.brochurer-slideshow { position:relative; width:450px; height:260px; padding-top:35px; background:#000000;  }
.message { position:absolute; top:20px; right:83px; width:290px; height:40px; }
.message #error { display:none; background:#C94751; font-size:12px; padding:2px 5px; color:#63141B;  }
.message #message { display:none; background:#84C18B; font-size:12px; padding:2px 5px; color:#234E31; }
.message #loading { display:none; color:#FFF; font-size:12px; }

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999; display:none;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

#banner-fade, #banner-slide{ width:379px; margin:0px 0px 0px 35px;  }
ul.bjqs-controls.v-centered li a{ display:block; padding:10px; background:#fff; color:#000; text-decoration: none; }
ul.bjqs-controls.v-centered li a:hover{ background:#000; color:#fff; }
ol.bjqs-markers li a{ display:inline-block; height:15px; width:15px; background: url(../images/scrool-nav.png) no-repeat; background-position:-28px 2px;  color:#fff; margin:5px; margin-top:25px; text-decoration: none; overflow:hidden; text-indent:-1000px;}
ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover{  background-position:2px 2px;  }

.download-icon { position:absolute; z-index:100000; display:block; height:25px; width:25px; background:url(../images/download-icon.png) no-repeat; right:32px; bottom:25px; }
/*-- --*/


/*-- --*/
.footer-section { display:block; height:272px; }
.inner-footer-section { width:990px; height:272px; margin:0px auto; position:relative; }
.left-foot { float:left;}
.left-foot p { margin:0px; padding:0px 0px 3px 0px; color:#666666; font-size:13px; }
.left-foot p a { color:#AE4B84; text-decoration:none; }
.sharing-section { float:right; height:39px; width:200px; margin:20px 0px 0px 0px; }
.social-media { float:right; display:block; width:39px; height:39px; background: url(../images/social-media.png) no-repeat; margin-left:10px; }
.social-media:hover { background:url(../images/social-media-hover.png) no-repeat; }
#fb{ background-position:0px 0px;  }
#tw{ background-position:-48px 0px; }
#yt{ background-position:-95px 0px;  }
.left-foot .title { color:#AE4B84; font-size:25px; text-transform:uppercase; padding:20px 0px 10px 0px; }
.copyright { position:absolute; bottom:0px; width:100%; border-top:1px solid #ccc; color:#666; font-size:12px; padding:15px 0px 15px 0px; text-align:center; }
/*-- --*/


.tab { padding: 0; margin:-20px 0px 0px 0px; display:block !important; background:#f3f3f3; height:40px; clear: both; }
.tab li { display: inline; }
.tab li a { float:left; text-decoration: none; text-transform:uppercase; padding:0px 20px 0px 20px; color: #aeaeae; height:37px; line-height:37px; border-bottom:3px solid #f3f3f3; }
.tab li.active a { background: #fff; color:#000; border-bottom:3px solid #AE4B84;}
.tabcontent { float: left; clear: both; width: 990px; }
.tabcontent .project-title { color:#666; font-size:20px; text-transform:uppercase; margin:15px 0px; padding:0px; }
.project-imagecase { height:135px; padding-bottom:10px; border-bottom:1px solid #f3f3f3; }
.project-imagecase a, .project-imagecase a img, .project-imagecase a .last { margin:0px; padding:0px; }
.project-imagecase a img { margin-right:6px; }

#toTop { display:none; text-decoration:none; position:fixed; bottom:50px; right:10px; overflow:hidden; width:51px; height:51px; border:none; text-indent:100%; background:url(../images/up-arrow.gif) no-repeat left top; }
#toTopHover { background:url(../images/up-arrow.gif) no-repeat left top; width:51px; height:51px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }